.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}
.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border:none;
    width: 120px;
    height: 5px;
    background-color:#26c4cd;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: solid #546869;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #26c4cd;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}