h2.title{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 20px;
    color: black;
}
h2.title::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #F1E805;
    bottom: 20px;
    left: 50%; 
    transform: translatex(-50%);
}
h2 span{
    color: #26c4cd;
}