@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    color: #0b0a0af1;
    overflow-x: hidden;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}
section{
    padding: 0 13px 30px 13px;
}
/*header section*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #26c4cd;
    box-shadow: 0 5px 10px #6fccd1;
    color: #f0f8ff;
    height: 15vh;
}
.nav-links a{
    color:#f0f8ff;
}
.logo{
    font-size: 30px;
    color:#F1E805;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .45s ease;
}
.logo:hover{
    transform: scaleX(1.3);
}
.menu{
    display: flex;
    font-size: 18px;
}
.menu li{
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 500;
    color: #f0f8ff;
    margin: 0 15px;
    transition: all ease .50s;
    text-transform: uppercase;
}
.menu li a:hover{
    transition: all .3s;
    color:#F1E805;
}
.menu li a.active{
    color:#76755fe2;
}
#checkbox_toggle{
    display: none;
}
.hamburger{
   display: none;
   font-size: 24px;
   cursor: pointer;
}
.hamburger-line{
    background-color: #f0f8ff;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamburger-line::before,
.hamburger-line::after{
    background-color: #f0f8ff;
    content: '';
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}
.hamburger-line::before{
    top: 7px;
}
.hamburger-line::after{
    top: -7px;
}
/*header section*/
/*Home section*/
.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh; 
    margin-top: 70px;
    width: 100%;
}
.home-text{
    flex: 1;
    text-align: left;
    padding: 20px;
    padding-left: 12%;
}
.home-text h1{
    font-size: 46px;
    font-weight: 700;
    list-style: 1.1;
    margin: 0 0 8px;
}
.home-text h3{
    color: #26c4cd;
    margin: 0 0 35px;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.home-text p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
    font-weight: 400;
    color: black;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: #26c4cd;
    color: #f0f8ff;
}
 .two{
    display: inline-block;
    color: #0b0a0af1;
    font-size: 20px;
    font-weight: 500;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/*Home section*/
/*Footer section*/
#contact{
    background: #1d1e1ee8;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.footer{
    padding: 20px 0;
}
.list{
    width: 25%;
    
}
.list h4{
    font-size: 18px;
    color: #f0f8ff;
    margin-bottom: 30px;
    position: relative;
}
.list h4::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: #26c4cd;
}
.list ul li:not(:last-child){
    margin-bottom: 16px;
}
.list ul li a{
    color: #f0f8ff;
    display: block;
    transition: .3s;
}
.list ul li a:hover{
    color: #F1E805;
    transform: translateX(14px);
}
.social a{
    height: 40px;
    width: 40px;
    background: #26c4cd;
    color: #f0f8ff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
}
.list .social a:hover{
    transform: scale(1.06);
}
.end-text{
    text-align: center;
    padding-bottom: 50px;
}
.end-text p{
    color: #c4c5c6;
    font-size: 14px;
    letter-spacing: 2px;
}
/*Footer section*/
/*Media header, footer and general*/
@media(max-width:1100px){
    h1{
        font-size: 4.5rem;
        transition: .1s;
    }
    h2{
        font-size: 2.3rem;
        transition: .1s;
    }
    h3, h4{
        font-size: 1.8rem;
        transition: .1s;
    }
    p, h5, h6{
        font-size: 1rem;
        transition: .1s;
    }
    .home-text{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
    
    .botton a{
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    }
}
@media (max-width:1040px){
    .list{
        width: 50%;
        margin-bottom: 12px;
    }
}
@media(max-width:768px){
    .menu{
       display: none;
       max-height: 0;
       overflow: hidden;
       position: absolute;
       background-color: #26c4cd;
       text-align: center;
       right: 5%;
       left: 5%;
       margin-top: 20px;
    }

    .menu li a{
        padding: 10px;
        display: block;
    }
    .hamburger{
        display: block;
        padding: 20px 0;
     }
    #checkbox_toggle:checked ~ .menu{
        display: block;
        max-height: 100%;
        transition: all .5s;
    } 
    #checkbox_toggle:checked ~ .hamburger .hamburger-line{
        background-color: transparent;
    }
    #checkbox_toggle:checked ~ .hamburger .hamburger-line::before{
        transform: rotate(-45deg);
        top: 0;
    }
    #checkbox_toggle:checked ~ .hamburger .hamburger-line::after{
        transform: rotate(45deg);
        top: 0;
    }
    .home{
        z-index: -1;
    }
    h1{
        font-size: 3.5rem;
        transition: .1s;
    }
    h2{
        font-size: 1.6rem;
        transition: .1s;
    }
    h3, h4{
        font-size: 1.2rem;
        transition: .1s;
    }
    p, h5, h6{
        font-size: 0.8rem;
        transition: .1s;
    }
    .home-text{
        font-size: 2.0rem;
    }
    .home{
        height: 77vh;
    }
}
