*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    color: #0b0a0af1;
    overflow-x: hidden;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: aqua;
}
main{
    background-color: bisque;
    flex: 1 0 auto;
}
footer{
    background-color: blue;
}